{% if data %}

<div id='site-section-block' class="front-block views-element-container block">
  <div class="container">

    <div data-aos="fade-right">

      <h2 class="block-title"> {{ data.title }} </h2>

      <div class="block-content">

        <div class="container">
          <div class="row">
            <div class="col-text">
              <div class="text-content">
                {{ data.text|raw }}
              </div>
            </div>
            <div class="col-image">
              <img src="{{ file_url(data.image) }}" alt="{{ data.title }}" class="img-fluid">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% endif %}