<!-- Block: Subscribe -->

{% if data %}

<div id="newsletter" class="newsletter-section">
  <div class="newsletter-container">
    <div class="newsletter-grid">
      <!-- Columna izquierda: Textos -->
      <div class="newsletter-text-content">
        <h3 class="newsletter-title">{{ 'Suscríbete a nuestro newsletter'|t }}</h3>
        <p class="newsletter-text">{{ 'Recibe las últimas novedades y ofertas especiales'|t }}</p>
      </div>
      
      <!-- Columna derecha: Formulario -->
      <div class="newsletter-form-content">
        <div class="form-group">
          {{ data.form }}
        </div>
      </div>
    </div>
  </div>
</div>
            
{% endif %}	



